.Container{
    margin: 0 auto;
    width: 800px;
    height: 500px;
    border: 5px solid black;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

button{
    background-color:rgb(5, 165, 5);
    margin-left: 20px;
}
img{
    margin-top:50px;
    width: 300px;
    height: 300px;
    background: white;
}

label{
    display: inline-flex;
    margin-right: 20px;
}
 




